@media only screen and (min-width: 768px) {
  .readmore-border{
    width: 20% !important;
    padding: 5px 2px !important;
   }
   .readmore-border .read-more{
    padding: 4px 45px !important;
    border: 0.5px solid black;

   }
}
 .readmore-border{
  width: 30%;
  padding: 4px 2px;
  border: 1.5px solid black;
  display: flex;
  justify-content: center;
  justify-items: center;
 }
 .readmore-border .read-more{
  padding: 4px 25px;
  border: 0.5px solid black;
  text-decoration: none;
  color: #707070;
  text-transform: uppercase;
  vertical-align: baseline;
  transition: all 3s;
 }

 .readmore-border .read-more:hover{
   color:#5f9ea0;
   background: #415455;
 }
